*{
    margin: 0;
    padding: 0;
}
body{
    text-transform: uppercase;
    color: white;
    font-family: bebas_neue_regularregular;
    width: 100%;
    overflow-x: hidden;
    background-image: url(../img/nikodermus_media.jpg);
background-attachment: fixed;
background-position: center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
    min-width: 320px
}
.total_wrapper{
    margin: 40px 10%;
}
a{
    text-decoration: none;
    color: white;
}
a:visited{
    text-decoration: none;
    color: white;
}
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100vh;
    z-index: -100;
    -webkit-transform:                           translateX(-50%)
      translateY(-50%);
    transform: 
        translateX(-50%) 
        translateY(-50%);
    background:   url(../img/nikodermus_media.jpg) no-repeat;
    background-size: cover;
}
nav{
    margin: auto;
    text-align: center;
}
.menu{
   border: white 4px solid; 
    display: block;
    height: 60px;
    color: white;
    font-size: 25px;
    text-align: center;
    margin: auto
}
.menu li{
    float: left;
    text-align: center;
    list-style: none;
    width: 33.33333%;
    min-width: 80px;
    margin: 17px 0;
}
.menu li:hover{
    text-decoration: underline;
    -webkit-transition-duration: 0.6s;
}
.menu li p{
    margin: 5%
    text-align: center;
}
.text{
    text-align: center;
    font-size: 40px;
    background: 
        rgba(0, 0, 0, 0.50);
    margin: 40px auto; 
    padding:  10px 0px 10px;
    font-size: 3.5em;
    line-height: 1.2em;
    
}
.text p{
    max-width: 400px;
    margin: auto;
    color: rgba(255, 255, 255, 0.75);
}
.text img{
    width: 80px;
    opacity: .75;
}

footer{
    text-align: center
}

footer i.flaticon-behance13, i.flaticon-instagram19, i.flaticon-youtube30, i.flaticon-google-plus, i.flaticon-github10{
    font-size: 40px;
    margin: auto;
    text-align: center
}
footer i.flaticon-behance13:hover{
    color: #005bff;
    -webkit-transition-duration: 0.6s;
}
footer i.flaticon-instagram19:hover{
    color: #9c713b;
    -webkit-transition-duration: 0.6s;
}
footer i.flaticon-youtube30:hover{
    color: #d92d1d;
    -webkit-transition-duration: 0.6s;
}
footer i.flaticon-google-plus:hover{
    color: #d7582b;
    -webkit-transition-duration: 0.6s;
}
footer i.flaticon-github10:hover{
    color: #7c1c85;
    -webkit-transition-duration: 0.6s;
}
