*{
	margin: 0px;
	padding: 0px;
    
}
@font-face
{
   font-family: "Impact";
    src: url('../fonts/impact.ttf')
}
body{
   background-color: #151515;
     background-image: url(../img/starwarsrepeat.png);
    font-family: Impact;
    overflow-x: hidden;
    overflow-y: visible;
}

#title{
    background: #272927;
    color: white;
    text-align: center;
    font-size: 42px;
    margin: 5% auto -0% 0;
    padding: 2%;
}

.about{
    color: white;
    float: right;
    font-size: 20px;
}

#item{
    text-align: center;
    padding: 20px auto;
    border-right: solid #b02626 1px;
    margin: auto;
   
    
}
#item:hover{ 
    background-color: #b02626;
    -webkit-transition-duration: 0.6s;
    
}

#item2{
    /*background: #999999;*/
    border-right: solid #5c1871 1px;
    text-align: center;
    padding: 20px 0px;
     margin: 0px ;
    
}

#item2:hover{
    background-color:#5c1871;
    -webkit-transition-duration: 0.6s;
}

#item3{
    text-align: center;
    padding: 20px 0px;
     margin: 0px;
}

#item3:hover{
    background-color: #00c5eb;
    -webkit-transition-duration: 0.6s;
}

#end{
    background: #272927;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width:100%;  
}

#end p{
    text-align: center;
    padding: 1% 0px;
    color: grey;
    font-size: 15px;
}
span{
    font-size: 30px;
}
/*MOVIL*/
 
@media screen and (max-width: 480px){
    #title{
        width: 100%;
    }
    #contenedor{
        margin: 100px 5%;
    }
    
    .about{
        width: 35.416666667%;
        margin-top: 20px; 
        margin-right: 30px;
        float: right;
        text-align: center; 
        
        
    }
    
    #item{
        width: 97%;
        margin: 0px ;
        padding: 20px 0px;
        text-align: center;
    }
    
    #item2{
        width: 97%;
        margin: 0px ;
        padding: 20px 0px;
        text-align: center;
    }
    
    #item3{
        width: 97%;
        margin: 0px ;
        padding: 20px 0px;
        text-align: center;
        border-right: solid #35acac 1px;
    }
    
    .about{
        width: width: 45.833333333%;
    }
    
    #end{
        background: #272927;
       width: 100%; 
    }
}

/*ESCRITORIO*/

@media screen and (min-width:769px){
    #contenedor{
        
		width: 100%;
        margin: 7% auto;
        }
    
    img{
        width: 170px;
        
    }
    
    #item{
        float: left;
        width:33.9999999%;
        padding: 5% 0;
    }
      #item2{
        float: left;
        width:32.3333333%; 
          padding: 5% 0;
    }
      #item3{
        float: left;
        width:33.3333333%;  
        padding: 20px 0px;
        margin: 0px;
          padding: 5% 0;
    }
    .about{
        display: none;
    }
    
    #end{
        width: 100%;
    }
    body{
    overflow-y: auto;
}
    

}