/*------------GENERAL------------*/
*{
    margin: 0;
    padding: 0;   
}
body{
    font-family: "Arial";
    background-image: url(../IMAGES/pattern_gray.png);
}
.menu{
    height: 60px;
    overflow: hidden;
    background-color: #00c5eb;
    position: relative;
}
.menu img{
    width: 50px;
}
.home{
    position: absolute;
    left: 10px;
    top: 10px
}
.side{
    position: absolute;
    right: 10px;
    top: 10px;
}
.side img{
    width: 40px;
    margin: 0 0 0 12px;
}
.side img:nth-child(2){
    height: 40px
}
.box{
    width: 300px;
    height: 300px;
    margin: 20px auto;
    padding: 20px 20px 50px 20px;
    background-color: #00c5eb;
    border-radius: 10px
}
.box p{
    text-align: center;
    font-family: Animated;
    font-size: 40px;
    color: white;
}
.box figure{
    text-align: center;
    
}
.box figure img{
    width: 90%;
}
.explanation{
    width: 90%;
    margin: -30px auto 0 auto;
    text-align: center;
    padding: 10px;
    background-color: #999;
    color: white; 
    font-size: 18px; 
}
.ke{
    height: 30px;
}

