/*------------GENERAL------------*/
*{
    margin: 0;
    padding: 0;   
}
body{
    font-family: "Arial";
    background-image: url(../IMAGES/pattern_blue.png);
    font-size: 20px;
}
a{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
.wrapper{
    margin: 5%;
    background-color: rgba(255, 255, 255, 0.50);
    padding: 0 5%;
    color: #fff;
    border-radius: 6px;
    height: 540px;
    overflow: hidden;
}


#username{
    display: block;
    margin: 5px auto;
    width: 80%;
    padding: 5px 5%;
    border: none;
    color: black;
}
p{
    margin: 30px 0;
}
figure{
    text-align: center
}


.login{
    width: 60px;
}
.social{
    text-align: center;
    margin: 10px auto;
}
.social img{
    width: 60px;
    margin: 0 10px;
}
/*------------TABLET------------*/
@media screen and (min-width: 481px) and (max-width: 768px;){
    .conteiner{
        width: width: 97.39583333333333%;
        
    }
    
    .wrapper{
        width: 93.128645833%;
        3333333333%;
       
            
    }
    
    form{
        float: left;
    }
    
    #img_inicio{
        background-image: url(..//IMAGES/)
    }
    
    #username{
        
        width: 62.5%; 
    }
    
    p{
        float: left;
    }
    
    figure{
        float: none;
        clear: both;
        
    }
    
    .social{
        clear: both;
        width: 45.572916667%;
    }
    .social img{
       width: 10.416666667%;
    }
}