/*------------GENERAL------------*/
*{
    margin: 0;
    padding: 0;   
}
body{
    font-family: "Arial";
    background-image: url(../IMAGES/pattern_gray.png);
}
.menu{
    height: 60px;
    overflow: hidden;
    background-color: #00c5eb;
    position: relative;
}
.menu img{
    width: 50px;
}
.home{
    position: absolute;
    left: 10px;
    top: 10px
}
.side{
    position: absolute;
    right: 10px;
    top: 10px;
}
.side img{
    width: 40px;
    margin: 0 0 0 12px;
}
.side img:nth-child(2){
    height: 40px
}
.lvl{
    width: 60%;
    margin: 10% auto;
    padding: 5%;
    color: white;
    text-align: center;
    border-radius: 8px;
}
.lvl p{
    margin: 0 0 10px 0px;
    font-family: Animated;
    font-size: 24px
}
.level .lvl:nth-child(1){
    background-color: #00c5eb
}
.level .lvl:nth-child(2){
    background-color: #ebdd2f
}
.level .lvl:nth-child(3){
    background-color: #ff0000
}



.tutorials{
    margin: 45px auto;
    text-align: center;
    padding: 0 5px;
  
}

.buttons {
    height: 90px;
    text-align: center;
    margin: 0 auto;
}

.buttons figure{
   display: inline-block;
    margin:0 20px;
    
}
.buttons figure img{
    text-align: center;
    margin: 0 auto;
    width: 50px;
        
}

.explain{
    margin:0px 8px ;
    padding: 10px;
}
.explain p{
    color: dimgrey;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: justify;
    font-size: 18px;
    padding: 10px; 
}

@media screen and (max-width: 480px){
    .contenedor{
        width: 100%;
    }
    
    .buttons{
        width: 50%;
    }
    
    .explain{
        width: 90%;
    }
