#wowslider-container0{
    padding: 2em 0em
}
.ch-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}
 
.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}
 
.ch-grid:after {
    clear: both;
}
 
.ch-grid li {
    width: 15em;
    height: 15em;
    display: inline-block;
    margin: 40px;
}
.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: default;
    box-shadow: 0 1px 3px rgba(221, 35, 35, 0.2);
}
.ch-thumb {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    box-shadow: inset 0 0 0 15px rgba(255,255,255, 0.5);
    transform-origin: 95% 40%;
    transition: all 0.3s ease-in-out;
}
.ch-thumb:after {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 50%;
    top: 40%;
    left: 95%;
    margin: -4px 0 0 -4px;
    background: radial-gradient(ellipse at center, rgb(103, 75, 75) 0%,rgba(125,126,125,1) 100%);
    box-shadow: 0 0 1px rgba(240, 8, 8, 0.9);
}
.ch-img-1 { 
    background-image: url(../images/mafe.jpg);
    z-index: 10;
    background-repeat: no-repeat;
    background-position: top;
}
 
.ch-img-2 { 
    background-image: url(../images/nico.jpg);
    z-index: 11;
    background-repeat: no-repeat;
    background-position: top;
}
.ch-img-1 .ch-info {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    background: url(../images/mafehover.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    box-shadow: inset 0 0 0 5px rgba(0,0,0,0.05);
}
.ch-img-2 .ch-info {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    background: url(../images/nicohover.jpg);
    background-repeat: no-repeat;
    background-position: top;
    box-shadow: inset 0 0 0 5px rgba(0,0,0,0.05);
}
.ch-info h3 {
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 24px;
    margin: 0 60px;
    padding: 50px 0 0 0;
    font-family: 'Josefin Sans', Arial, sans-serif;
    text-shadow: 
        0 0 2px #fff, 
        0 2px 4px rgba(0,0,0,0.3);
}
 
.ch-info p {
    color: #fff;
    padding: 30px 0 ;
    margin: 200px 0 10px 0;
    font-family: 'Josefin Sans', Arial, sans-serif;
    font-size: 24px;
    text-shadow: 
        0 0 2px #fff, 
        2PX 2px 6px rgba(0,0,0,0.3);  |
    
}
.ch-item:hover .ch-thumb {
    box-shadow: inset 0 0 0 15px rgba(255,255,255, 0.5), 0 1px 3px rgba(0,0,0,0.2);
    transform: rotate(-110deg);
    filter: blur(20px);
}
.ch-grid a{
    text-decoration: none;
    color: white;
}