@font-face
{
   font-family: "jaapoki";
   src: url("../OTHERS/jaapoki.otf");
}
/*------------GENERAL------------*/
*{
    margin: 0;
    padding: 0;   
}
body{ 
    line-height: 1.2em;
    background: #151515;
    color: #7F7F7F;
    font-size: 10px;
}
/*------------ON BUILD------------*/
.screen{
   display: none;
}
h1{
    text-align: center;
    font-family: jaapoki;
     line-height: 20px
}
h2{
    margin: 0 1em;
    line-height: 1.2em;
    text-align: center
}
h3{
    text-align: right;
    margin: 1em 10px;
}
figure{
    text-align: center;
}
.mainpic{
    width: 80%;
}
ul{
    text-align: center;
}
li{
    display: inline-block;
    margin: 1em;
}
li img{
    width: 40px;
}
p{
    text-align: center;
    font-family: jaapoki;
}
.analytics{
    display: none;
}
footer{
    background: #212121;
    color: #7f7f7f;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
}
footer p{
    font-size: 1em;
}
.ke{
    height: 25px;
    overflow: hidden
}
/*------------MEDIA QUERY------------*/

@Media screen and (min-width:700px){
    .screen{
   display: inherit
}
    .mobil{
    display: none;
}
    .mainpic2{
        float: left;
        width: 30%;
        margin: 3.5% 10%;
    }
    .principal2{
        width: 30%;
        float: right;
        margin: 15% 10%;
    }
    footer{
        padding: 1% 0;
    }
    li img{
        width: 50px
    }
}
