/*------------GENERAL------------*/
*{
    margin: 0;
    padding: 0;   
}
body{
    font-family: "Arial";
    background-image: url(../IMAGES/pattern_gray.png);
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
.menu{
    height: 60px;
    overflow: hidden;
    background-color: #8a15ff;
    position: relative;
}
.menu img{
    width: 50px;
}
.home{
    position: absolute;
    left: 10px;
    top: 10px
}
.side{
    position: absolute;
    right: 10px;
    top: 10px;
}
.side img{
    width: 40px;
    margin: 0 0 0 12px;
}
.side img:nth-child(2){
    height: 40px
}
.camera{
    width: 95%;
    overflow: hidden;
    margin: 2% 2.5% 0 2.5%;
    text-align: center;
    position: relative;
}
.camera img{
    width: 100%;
}
.camera a img{
    width: 15%;
    margin: auto;
    position: absolute;
    bottom: 20px;
    right: 42.5%
}
.pics{
    width: 100%;
    margin: -5px 0 auto 4%;
    height: 300px;
}
.pics img{
    width: 30%;
    float: left;
    margin: auto;
    text-align: center;
}

