@import '_variables'

/* Collections */
$font-sizes = (12 16 21 28 37 50 67 80 119 159)
$space-sizes = (6 12 24 48 96)
$space-names = ("-xs" "-sm" "" "-lg" "-xl")
$sides = ("-top" "-bottom" "-left" "-right" "")

/* Hashes */
$colors = {
  red: red,
  black: black,
  gray: gray,
  white: white,
  transparent: transparent
 }

$breakpoints = {
  "": $screen-xs,
  tab-: $screen-sm,
  des-: $screen-md,
  lar-: $screen-lg,
  xl-: $screen-xl
}

// Generate color-related classes
for $color, $value in $colors
  {'.color-' + $color}
    color: $value
  {'.bg-' + $color}
    background: $value

  btnBand($color, $value)

// Generate differente font-sizing classes
for $font in $font-sizes
  {'.font-' + $font}
    font-size: rem($font)
    *
      font-size: inherit

/* Responsive classes */
for $name, $breakpoint in $breakpoints
  @media (min-width: em($breakpoint))

    /* Classes with direction and size */
    for $spacing in $space-sizes
      for $side in $sides
        //Margin classes
        {'.' + $name + 'margin' + $side}
          {'magin' + $side}: rem($spacing)
        //Padding classes
        {'.' + $name + 'padding' + $side}
          {'padding' + $side}: rem($spacing)

    /* Classes with direction only */
    for $side in $sides
      //Margin collapse
      {'.' + $name + 'margin' + $side + '-collapse'}
        {'magin' + $side}: 0;
      //Padding collapse
      {'.' + $name + 'padding' + $side + '-collapse'}
        {'padding' + $side}: 0;


    /* Classes with size only */
    for $spacing in $space-sizes
      //Margin sides
      {'.' + $name + 'margin-horizonal'}
        margin-left: rem($spacing)
        margin-right: rem($spacing)
      {'.' + $name + 'margin-vertical'}
        margin-top: rem($spacing)
        margin-bottom: rem($spacing)
      //Padding sides
      {'.' + $name + 'padding-horizonal'}
        padding-left: rem($spacing)
        padding-right: rem($spacing)
      {'.' + $name + 'padding-vertical'}
        padding-top: rem($spacing)
        padding-bottom: rem($spacing)


    /* Other helpers */
    {'.'+ $name+ 'margin-vertical-collapse'}
      margin-top: 0
      margin-bottom: 0
    {'.'+ $name+ 'margin-horizontal-collapse'}
      margin-left: 0
      margin-right: 0
    {'.'+ $name+ 'padding-horizontal-collapse'}
      padding-left: 0
      padding-right: 0
    {'.'+ $name+ 'padding-vertical-collapse'}
      padding-top: 0
      padding-bottom: 0

/* Responsive classes end*/
