@import "_variables"

/* Collections */
$font-sizes = (12 16 21 28 37 50 67 80 119 159)
$sides = ("-top" "-bottom" "-left" "-right" "")
$sides-no-dashes = ("top" "bottom" "left" "right" )
$font-weights = (300 400 500 700)

/* Hashes */
$colors = {
  red: red,
  black: black,
  gray: gray,
  white: white,
  transparent: transparent
 }

$breakpoints = {
  "": $screen-xs,
  tab-: $screen-sm,
  des-: $screen-md,
  lar-: $screen-lg,
  xl-: $screen-xl
}

$spaces = {
  "-xs": 6,
   "-sm":12 ,
   "": 24,
   "-lg":48 ,
   "-xl": 96,
}

$border-radius-sizes = {
   "-xs": $radius-xs,
   "-sm": $radius-sm,
   "": $radius-md,
   "-lg": $radius-lg,
   "-xl": $radius-xl,
   "round": $radius-round,
}

// Generate color-related classes
for $color, $value in $colors
  {'.color-' + $color}
    color: $value
  {'.bg-' + $color}
    background: $value
  {'.border-' + $color}
    border-width: 1px
    border-style: solid
    border-color: $value

  btnBand($color, $value)

// Generate differente font-sizing classes
for $font in $font-sizes
  {'.font-' + $font}
    font-size: rem($font)
    *
      font-size: inherit

/* Responsive classes */
for $name, $breakpoint in $breakpoints
  @media (min-width: em($breakpoint))

    /* Classes with direction and size */
    for $space-name, $spacing in $spaces
      for $side in $sides
        //Margin classes
        {'.' + $name + 'margin' + $side + $space-name}
          {'margin' + $side}: rem($spacing)
        //Padding classes
        {'.' + $name + 'padding' + $side + $space-name}
          {'padding' + $side}: rem($spacing)

    /* Classes with direction only */
    for $side in $sides
      // Margin collapse
      {'.' + $name + 'margin' + $side + '-collapse'}
        {'margin' + $side}: 0;
      {'.' + $name + 'margin' + $side + '-unset'}
        {'margin' + $side}: unset;
      // Padding collapse
      {'.' + $name + 'padding' + $side + '-collapse'}
        {'padding' + $side}: 0;
      {'.' + $name + 'padding' + $side + '-unset'}
        {'padding' + $side}: unset;
      // Border collapse
      {'.' + $name + 'border' + $side + '-collapse'}
        {'border' + $side}: 0;
      {'.' + $name + 'border' + $side + '-unset'}
        {'border' + $side}: unset;

      /* Classes with color and direction */
      for $color in $colors
        {'.border-' + $side + '-' + $color}
          background: $value

    /* Classes with direction no dashes and size*/
    for $space-name, $spacing in $spaces
      for $side in $sides-no-dashes
        // Top, bottom, left, right
        {'.' + $name + $side + $space-name}
          {$side}: rem($spacing)

    /* Classes with size only */
    for $space-name, $spacing in $spaces
      //Margin sides
      {'.' + $name + 'margin-horizontal' + $space-name}
        margin-left: rem($spacing)
        margin-right: rem($spacing)
      {'.' + $name + 'margin-vertical' + $space-name}
        margin-top: rem($spacing)
        margin-bottom: rem($spacing)
      //Padding sides
      {'.' + $name + 'padding-horizontal' + $space-name}
        padding-left: rem($spacing)
        padding-right: rem($spacing)
      {'.' + $name + 'padding-vertical' + $space-name}
        padding-top: rem($spacing)
        padding-bottom: rem($spacing)

    for $border-name, $border-size in $border-radius-sizes
      {'.' + $name + 'border-radius' + $border-name}
        border-radius: rem($border-size)


    /* Other helpers */
    {'.'+ $name+ 'margin-vertical-collapse'}
      margin-top: 0
      margin-bottom: 0
    {'.'+ $name+ 'margin-horizontal-collapse'}
      margin-left: 0
      margin-right: 0
    {'.'+ $name+ 'padding-horizontal-collapse'}
      padding-left: 0
      padding-right: 0
    {'.'+ $name+ 'padding-vertical-collapse'}
      padding-top: 0
      padding-bottom: 0
    {'.'+ $name+ 'margin-vertical-unset'}
      margin-top: unset
      margin-bottom: unset
    {'.'+ $name+ 'margin-horizontal-unset'}
      margin-left: unset
      margin-right: unset
    {'.'+ $name+ 'padding-horizontal-unset'}
      padding-left: unset
      padding-right: unset
    {'.'+ $name+ 'padding-vertical-unset'}
      padding-top: unset
      padding-bottom: unset
    {'.' + $name + 'border-radius-collapse'}
      border-radius: 0
    {'.' + $name + 'border-radius-unset'}
      border-radius: unset


    /* Text align */
    {'.'+ $name + 'text-left'}
      text-align: left
    {'.'+ $name + 'text-right'}
      text-align: right
    {'.'+ $name + 'text-center'}
      text-align: center
    {'.'+ $name + 'text-justify'}
      text-align: center

/* Responsive classes end*/
for $i in 0..100
  {'.opacity-'+ $i}
    opacity: ($i/100)

