@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;  
font-style: normal;
}.flaticon-behance13:before {
	content: "\e000";
}
.flaticon-expand38:before {
	content: "\e001";
}
.flaticon-facebook2:before {
	content: "\e002";
}
.flaticon-flickr18:before {
	content: "\e003";
}
.flaticon-github10:before {
	content: "\e004";
}
.flaticon-google-plus:before {
	content: "\e005";
}
.flaticon-instagram19:before {
	content: "\e006";
}
.flaticon-instagram3:before {
	content: "\e007";
}
.flaticon-linkedin:before {
	content: "\e008";
}
.flaticon-round69:before {
	content: "\e009";
}
.flaticon-social24:before {
	content: "\e00a";
}
.flaticon-speaker3:before {
	content: "\e00b";
}
.flaticon-twitter:before {
	content: "\e00c";
}
.flaticon-user3:before {
	content: "\e00d";
}
.flaticon-web-programming:before {
	content: "\e00e";
}
.flaticon-website8:before {
	content: "\e00f";
}
.flaticon-youtube30:before {
	content: "\e010";
}
