<div class="container-fluid">
  <div class="row intro">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 intro__half--left intro__half bg-white">
      <div class="intro__main col-12  text-center">
        <h1 class="bebas bold font-80 color-gray opacity-50">Nicolas</h1>
        <h6 class="bebas bold font-28 color-red">Hello</h6>
      </div>
      <div class="intro__content padding-lg">
        <div class="intro__top">
          <h2 class="bold color-red font-67">
            As
            <br> Designer
          </h2>
          <button class="bg-white color-gray border-gray border-radius-sm bold title font-16 padding-vertical-xs padding-horizontal">
            Let's imagine
          </button>
        </div>
        <div class="intro__botton">

        </div>

      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 intro__half--right intro__half bg-black">
      <div class="intro__main col-12  text-center">
        <h1 class="bebas bold font-80 color-gray opacity-10">M. Pardo</h1>
        <h6 class="bebas bold font-29 color-red">I am</h6>
      </div>
      <div class="intro__content"></div>
    </div>
  </div>
</div>
