@require "./mixins"

.square
    position: relative
    display: block

    &::after
        content: ""
        padding-bottom: 100%
        display: block

    &__content
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%

.hidden
[hidden]
    display: none
    visibility: hidden

.no-scroll
    overflow: hidden

    &--y
        overflow: auto
        overflow-y: hidden

    &--x
        overflow: auto
        overflow-x: hidden

.bubble
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column

    &__emoji
        font-size: font-size-XL
        background: color-black
        height: sizing-4XL
        width: @height
        display: flex
        align-items: center
        justify-content: center
        border-radius: border-radius-round

    &__text
        color: color-black
        font-size: font-size-SM

        +prefer-dark()
            color: color-gray-light
