/*------------GENERAL------------*/
@font-face
{
   font-family: "Animated";
   src: url("http://www.nikodermus.media/Animated.ttf");
}
*{
    margin: 0;
    padding: 0;   
}
body{
    font-family: "Arial";
    height: 580px;
    overflow: hidden;
}
.conteiner{
    padding: 5% 0 0 0;
    height: 580px;
    overflow: hidden;
}
a{
    text-decoration: none;
}
a: visited{
    text-decoration: none;
}

.div_role{
    display: block;
    position: relative;
    height: 230px;
    margin: -32px 0 0 0;
    
}
.div_role:nth-child(1){
    background-image: url(../IMAGES/background_red.png);
    z-index: 22;
}
.div_role:nth-child(2){
    background-image: url(../IMAGES/background_blue.png);
    z-index: 21;.
}
.div_role:nth-child(3){
    background-image: url(../IMAGES/background_purple.png);
    z-index: 20;  
} 
.div_role:nth-child(4){
    background:#9539ff;
}
.role{
    padding: 20px;
}
.logo{
    position: absolute;
    top: 20px;
    left: 40px;
    width:90px;
    text-align: center;
    color: white;
    font-family: Animated;
    font-size: 32px;
}
.logo p{
    margin: 19px 0;
    text-align:center;
}
.explication{
    position: absolute;
    top: 40px;
    right: 25px; 
    width: 40%;
    color: white;
    text-align: center;
    line-height: 20px;
}
.div_role:nth-child(1) p{
    margin: 10px;
}

@media screen and (max-width: 480px){
    .conteiner{
        width: 100%;
        
    }
    
    .div_role{
        width: 100%;
    }
    
    .logo{
        width: 25%;
    }
    .explication{
        width: 40%;
    }
}