/*------------GENERAL------------*/
*{
    margin: 0;
    padding: 0;   
}
body{
    font-family: "Arial";
    background-image: url(../IMAGES/pattern_gray.png);
}
a{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
.menu{
    height: 60px;
    overflow: hidden;
    background-color: #f21c1c;
    position: relative;
}
.menu img{
    width: 50px;
}
.home{
    position: absolute;
    left: 10px;
    top: 10px
}
.side{
    position: absolute;
    right: 10px;
    top: 10px;
}
.side img{
    width: 40px;
    margin: 0 0 0 12px;
}
.side img:nth-child(2){
    height: 40px
}
.first{
    display: block;
    height: 120px;
    padding: 0 10%;
}
.first_steps{
    position: relative
}
.first_steps p, .first_steps img{
    position: absolute;
}
.first_steps p{
    left: 1%;
    top: 40px;
    font-family: Animated;
    color: #999;
    font-size: 35px;
}
.first_steps img{
    right: 1%;
    top: 20px;
    width: 80px;
}
.step{
    margin: 5% auto;
    width: 90%;
    border-radius: 8px;
    position: relative; 
    height: 140px;
    background-color: black;
}
.step img{
    position: absolute;
    top: 10%;
    left: 30px;
    width: 30%;
    
}
.step p{
    position: absolute;
    right: 10px;
    font-family: Animated;
    color: white;
    text-align: center;
    font-size: 25px;
    width: 50%;
}
.paint{
    background-color: #f21c1c;
}
.paint p{
    margin: 7% 0 0 0;
}
.paint img{
    margin: 8px 0 0 0;
}
.save{
    background-color: #1e8bc3;
}
.save p{
     margin: 14.5% 0 0 0;
}
.board{
    background-color: #7ac943;
}
.board img{
    margin: 5px 0 0 0;
}
.board p{
    margin: 8% 0 0 0
}
.start{
    font-family: Animated;
    padding: 10px 30px;
    margin: 0 5% 0 0;
    float: right;
    width: 40px;
    border-radius: 4px;
    background-color: #f21c1c;
    color: white;
    font-size: 25px;
}
.start{
    text-decoration: none;
}
a .start{
    text-decoration: none;
}
a:visited .start{
    text-decoration: none;
}
.ke{
    height: 80px;
    overflow: hidden
}

@media screen and (max-width: 480px){
    .first{
        width: 80%;
    }
}

