#subscribe, 
#login{
    /*position: absolute;*/
    
    width: 90%; 
    padding: 2%;
    margin: 0;
    background: #8547BD;
    border-style: none;
}
#login{
    z-index: 22;
    
}


/**** general text styling ****/
#wrapper h1{
    font-size: 48px;
    color: rgb(6, 106, 117);
    padding: 2px 0 10px 0;
    font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}


 
/** For the moment only webkit supports the background-clip:text; */
#wrapper h1{
    background: 
    -webkit-repeating-linear-gradient(-45deg, 
        rgb(18, 83, 93) , 
        rgb(18, 83, 93) 20px,
        rgb(64, 111, 118) 20px,
        rgb(64, 111, 118) 40px,
        rgb(18, 83, 93) 40px);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
 
#wrapper h1:after{
    content:' ';
    display:block;
    width:100%;
    height:2px;
    margin-top:10px;
    background: 
        linear-gradient(left,  
            rgba(147,184,189,0) 0%,
            rgba(147,184,189,0.8) 20%,
            rgba(147,184,189,1) 53%,
            rgba(147,184,189,0.8) 79%,
            rgba(147,184,189,0) 100%); 
}


/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder  { 
    color: rgba(255, 255, 255, 0.59); 
    font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{ 
    color: rgba(255, 255, 255, 0.59);
    font-style: italic;
} 
input {
  outline: none;
    display: block;
    background: 
        #613489;  
}
input:nth-child(4){
    outline: none;
    display: block;
    background: black;
}
#login p{
    margin: 1em 0;
    font-size: 1em;
    text-align: left;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}
.send {
    background: 
        none;
    
}



#wrapper input:not([type="checkbox"]){
    width: 92%;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;    
    border: 1px solid rgb(178, 178, 178);
    box-sizing : content-box;
    border-radius: 3px;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    transition: all 0.2s linear;
}
#wrapper input:not([type="checkbox"]):active,
#wrapper input:not([type="checkbox"]):focus{
    border: 1px solid rgba(91, 90, 90, 0.7);
    background: rgba(238, 236, 240, 0.2);   
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
} 


<#register{  
    z-index: 21;
    opacity: 0;
}

#toregister:target ~ #wrapper #register,
#tologin:target ~ #wrapper #login{
    z-index: 22;
    animation-name: fadeInLeft;
    animation-delay: .1s;
}

.animate{
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
     
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#toregister:target ~ #wrapper #login,
#tologin:target ~ #wrapper #register{
    animation-name: fadeOutLeftBig;
}
 
@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
     
    100% {
        opacity: 0;
        transform: translateX(-20px);
    }
}

@Media screen and (min-width:1000px){
    
    #login{
        width: 60%;
        margin: 0;
        border-style: none;
    }