/*------------GENERAL------------*/
*{
    margin: 0;
    padding: 0;   
}
body{
    font-family: "Arial";
}
a{
    text-decoration: none;
    color: white;
}
a:visited{
    text-decoration: none;
}
.conteiner{
    
    height: 600px;
    position: relative; 
}
.menu{
    height: 60px;
    overflow: hidden;
    background-color: #f21c1c;
    position: relative;
}
.menu img{
    width: 50px;
}
.home{
    position: absolute;
    left: 10px;
    top: 10px
}
.side{
    position: absolute;
    right: 10px;
    top: 10px;
}
.side img{
    width: 40px;
    margin: 0 0 0 12px;
}
.side img:nth-child(2){
    height: 40px
}
.menu_bar{
    height: 70px; overflow:hidden;
    position: absolute;
    width: 100%;
    bottom: 10px;
    margin: auto;
}
.menu_bar img{
    float: left;
    margin: auto;
    background: #f21c1c;
    border-radius: 8px;
    margin: 0 2%;
    padding: 5px;
    width: 12%;
}
.menu_bar .save{
    padding: 5px 55px
    
}
.menu_bar .img{
    text-align: center;
    height: 60px;
    width: 100%;
    margin: auto;
    
}
.pop_up{
    height: 390px;
    width: 100%;
    background: rgba(0, 0, 0, 0.50);
    padding: 140px 0 0 0;
    position: absolute;
    margin: 0px 0;
    opacity: 0;
}
.pop_up:hover{
    opacity: 1;
    -webkit-transition-duration: 0.5s;
}
.text{
    text-align: center;
    height: 300px;
    width: 200px;
    margin: auto;
    color: white;
}
.save{
    font-size: 40px;
    font-family: Animated;
}
.text a p {
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    background-color: #f21c1c;
    font-size: 18px;
}
.text a p:hover{
    background-color: #ac1414;
}